black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
numpydoc
sphinx_copybutton
sphinx_design
sphinx_rtd_theme
torch 
torchvision